The code below fetches all the matches where either Union, Club Brugge or Cercle Brugge are present.

In [3]:
import pandas as pd
import psycopg2
import dotenv
import os

dotenv.load_dotenv()

PG_PASSWORD = os.getenv("PG_PASSWORD")
PG_USER = os.getenv("PG_USER")
PG_HOST = os.getenv("PG_HOST")
PG_PORT = os.getenv("PG_PORT")
PG_DATABASE = os.getenv("PG_DB")

# Database connection parameters
import psycopg2
import os

conn = psycopg2.connect(
    host=PG_HOST,
    database=PG_DATABASE,
    user=PG_USER,
    password=PG_PASSWORD,
    port=PG_PORT,
    sslmode="require",
)

# Query to fetch match data
query = """
SELECT *
FROM matches
WHERE home_team_id IN ('1oyb7oym5nwzny8vxf03szd2h', '3ix9om1svhd6obl0mbk1otgop', 'ecj1gmc7pqcjo4sc9hvghj5u3')
   OR away_team_id IN ('1oyb7oym5nwzny8vxf03szd2h', '3ix9om1svhd6obl0mbk1otgop', 'ecj1gmc7pqcjo4sc9hvghj5u3')

"""
matches = pd.read_sql_query(query, conn)
matches.head()

C:\Users\Neo\AppData\Local\Temp\ipykernel_11796\2836686634.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  matches = pd.read_sql_query(query, conn)

,match_id,match_date,home_team_id,away_team_id,home_score,away_score
0,5oc8drrbruovbuiriyhdyiyok,2024-07-26,1oyb7oym5nwzny8vxf03szd2h,b7jmo07lqav0wfe2mtlzyspak,1,1
1,5ro450tmjg6o1r4cphzzyg74k,2024-07-28,2nhn3ikl1ciq34w3hcp883d6p,3ix9om1svhd6obl0mbk1otgop,3,0
2,5ow2wa823rjft38oh48b4ror8,2024-07-27,4dtif7outbuivua8umbwegoo5,ecj1gmc7pqcjo4sc9hvghj5u3,0,0
3,5u35bb21cuumrm2th8czyecr8,2024-08-04,3ix9om1svhd6obl0mbk1otgop,1uk609mhtsfhokhaewjapb26,1,2
4,5ugfsw7je1y0lay7xdqe3pces,2024-08-04,5z1b7fuvpqe6vnigvopomvecu,1oyb7oym5nwzny8vxf03szd2h,1,0